<h3> View Employee Details</h3>
<div>
    <div>
        <label> <b> Register number: </b></label> {{candidate.regno}}
    </div>
    <div>
        <label> <b> Name: </b></label> {{candidate.name}}
    </div>
    <div>
        <label> <b> Mark1: </b></label> {{candidate.m1}}
    </div>
    <div>
        <label> <b> Mark2: </b></label> {{candidate.m2}}
    </div>
    <div>
        <label> <b> Mark3: </b></label> {{candidate.m3}}
    </div>
    <div>
        <label> <b> Result: </b></label> {{candidate.result}}
    </div>
    <div>
        <label> <b> Grade: </b></label> {{candidate.grade}}
    </div>
</div>