<div class="col-md-6 offset-md-3">
    <h3> Create Candidate </h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label>Register Number</label>
            <input type="text" class ="form-control" id = "regno"
                [(ngModel)] = "candidate.regno" name = "regno">
        </div>
        <div class="form-group">
            <label>Name</label>
            <input type="text" class ="form-control" id = "Name"
                [(ngModel)] = "candidate.name" name = "Name">
        </div>
        <div class="form-group">
            <label>M1</label>
            <input type="number" class ="form-control" id = "m1"
                [(ngModel)] = "candidate.m1" name = "m1">
        </div>
        <div class="form-group">
            <label>M2</label>
            <input type="number" class ="form-control" id = "m2"
                [(ngModel)] = "candidate.m2" name = "m2">
        </div>
        <div class="form-group">
            <label>M3</label>
            <input type="number" class ="form-control" id = "m3"
                [(ngModel)] = "candidate.m3" name = "m3">
        </div>
        <div class="form-group">
            <label>Result</label>
            <input type="text" class ="form-control" id = "result"
                [(ngModel)] = "candidate.result" name = "result">
        </div>
        <div class="form-group">
            <label>Grade</label>
            <input type="text" class ="form-control" id = "grade"
                [(ngModel)] = "candidate.grade" name = "grade">
        </div>
    

        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
    </div> 