<h2> Candidate List</h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th> Reg_no</th>
            <th> Name </th>
            <th> M1</th>
            <th> M2</th>
            <th> M3</th>
            <th> Result </th>
            <th> Grade </th>
            <th> Action </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let candidate of candidates" >
            <td> {{ candidate.regno }} </td>
            <td> {{ candidate.name }} </td>
            <td> {{ candidate.m1 }} </td>
            <td> {{ candidate.m2 }} </td>
            <td> {{ candidate.m3 }} </td>
            <td> {{ candidate.result }} </td>
            <td> {{ candidate.grade }} </td>
             <td>
                <button (click) = "updateCandidate(candidate.regno)" class = "btn btn-info"> Update</button>
                 <button (click) = "deleteCandidate(candidate.regno)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                <button (click) = "candidateDetails(candidate.regno)" class = "btn btn-info" style="margin-left: 10px"> View</button> 
            </td> 
        </tr>
    </tbody>
</table>

