
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <div>
    <ul class = "navbar-nav">
        <li class = "nav-item">
            <a routerLink="candidates" routerLinkActive="active" class="nav-link" >Candidate List</a>
        </li>
        <li class = "nav-item">
            <a routerLink="create-candidate" routerLinkActive="active" class="nav-link" >Add candidate</a>
        </li>
    </ul>
</div>


</nav>
<h1 class="text-center" style="align-items: center;"> Candidate Management System </h1>

<div class = "container">
    <router-outlet></router-outlet>
</div>
<footer class = "footer">
    <div class = "container">
        
    </div>
</footer>
